.map-div {
  height: 72vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.col-6 {
  width: 49%;
}

.col-5{
  width:45%;
}

.col-1{
  width:10%;  
}

.row {
  margin: 2%;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100% !important;
  }
  .map-div {
    height: 50vh !important;
  }
  .card {
    margin-bottom: 2%
  }
}

@media only screen and (min-width: 768px) {
  .route-details {
    margin-left: 2%;
  }
  .search-bar{
    display: flex;
    align-items: center;
  }  
}

.card {
  transition: 0.3s;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.scrollbar::-webkit-scrollbar {
  width: .5em;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 4px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.up-down{
  width: 24px;
  cursor: pointer;
}

.center-align{
  text-align: center;
}